<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore processPath="dotnet"
                  arguments="ECommerce.API.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">

        <environmentVariables>
            <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />

          <environmentVariable name="ConnectionStrings__DefaultConnection"
            value="Server=103.125.252.243;Database=ECommerceDB;User Id=oct_ecommercedb;Password=yejr7obvpgqinfsxduml;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />

          <environmentVariable name="Jwt__Issuer" value="ECommerce" />
         <environmentVariable name="Jwt__Audience" value="ECommerce" />
         <environmentVariable name="Jwt__Key"   value="THIS_IS_A_SUPER_LONG_SECRET_KEY_CHANGE_ME_32+_CHARS" /> 
          </environmentVariables>

      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
