<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <!-- ✅ Fix 405 for PUT/DELETE: remove WebDAV -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>

      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <!-- ✅ Allow HTTP verbs -->
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>

      <aspNetCore processPath="dotnet" arguments="ECommerce.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">

        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=103.125.252.243;Database=ECommerceDB;User Id=oct_ecommercedb;Password=yejr7obvpgqinfsxduml;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />

          <environmentVariable name="Jwt__Issuer" value="ECommerce" />
          <environmentVariable name="Jwt__Audience" value="ECommerce" />
          <environmentVariable name="Jwt__Key" value="THIS_IS_A_SUPER_LONG_SECRET_KEY_CHANGE_ME_32+_CHARS" />
        </environmentVariables>

      </aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
